.main-page {
  overflow: hidden;
  background-image: url(./images/meat.jpg);
}

.main-section {
  color: white;
  position: absolute;
  right: 12%;
  bottom: 40%;

  h1 {
    font-size: 60px;
  }

  h2 {
    font-weight: 100;
  }

  #menu-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 40px;
    cursor: pointer;
    margin-top: 30px;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.2);
    }

    &:focus {
      transform: scale(1);
    }
  }
}

.social-media {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  right: 40px;
  bottom: 40px;
  height: 350px;

  .horizontal-bar {
    width: 1px;
    background-color: white;
    height: 150px;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    span {
      cursor: pointer;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
    }

    .instagram {
      background-image: url(./images/instagram-logo.png);
    }

    .facebook {
      background-image: url(./images/facebook.png);
    }

    .twitter {
      background-image: url(./images/twitter.png);
    }
  }
}
